:root {
    --primary: #00c3ff;

    --primary-text: #003f5a;
    --bold-text: #000;

    --dark-primary: #121212;
    --dark-secondary: #404040;
    --dark-tertiary: #282828;

    --dark-background: #282828;
    --dark-primary-text: #b3b3b3;
    --dark-bold-text: #ffffff;

    --white: #ffffff;
    --black: #000;
}




.loader {
    border: 0.8rem solid transparent; /* Light grey */
    border-top: 0.8rem solid var(--primary); /* Blue */
    border-bottom: 0.8rem solid var(--primary); /* Blue */

    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    animation: spin 3s linear infinite;
    margin:  40vh auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error{
    margin:  30vh auto;
    border: 3px solid yellow;
    height: 20vh;
    width: 50vw;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.error span:hover{
    cursor: pointer;
}

