.image-gallery-slide, .image-gallery-image {
    max-height:unset;
    height:100%;
    object-fit: cover !important;
    border-radius: 10px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image{
    border-radius: 8px !important;
}


/*mobileS: "320px",*/
/*mobileM: "375px",*/
/*mobileL: "425px",*/
/*tablet: "768px",*/
/*laptop: "1024px",*/
/*laptopL: "1440px",*/
/*desktop: "2560px",*/
/*desktopL: "3840px",*/

@media (min-width: 2560px) {
    .image-gallery-slides{
        height: 900px;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .image-gallery-slides{
        height: 800px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .image-gallery-slides{
        height: 650px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .image-gallery-slides{
        height: 600px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .image-gallery-slides{
        height: 350px;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .image-gallery-slides{
        height: 290px;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    .image-gallery-slides{
        height: 210px;
    }
}

@media (max-width: 320px) {
    .image-gallery-slides{
        height: 110px;
    }
}


.image-gallery-slides{
    /* height:75vh !important; */
    border-radius: 20px;
    overflow: hidden;
}
.image-gallery-bullet:hover{
    background-color: red !important;
    border: 1px solid red !important;
}
.image-gallery-icon{
    color: transparent !important;
}
.image-gallery-icon:hover{
    color: whitesmoke !important;
}
.image-gallery-fullscreen-button, .image-gallery-play-button{
    color: whitesmoke !important;
}
.image-gallery-thumbnail{
    border-radius: 10px !important;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus{
    outline: none;
    border: 2px solid var(--text) !important;
}
.image-gallery-thumbnail:hover {
    border: 1px solid wheat !important;
}

