:root {
  --dark: #000a12;
  --text: #61b8ff;
  --svg: #ea60ff;
  --nav: #243b4f;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;

}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
  opacity: 1; /* Firefox */
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--dark);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 36px;
  margin: 0px 10px 10px 10px;
  color: var(--text);
}

body,
h2,
h3,
h4,
p,
span {
  margin: 0;
  color: white;
}

a{
  text-decoration: none;
  color: gray;
}

.particles{
  z-index: -1000 !important;
}


