:root {
    --dark: #100000;
    --text: #ffffff;
    --svg: #ea60ff;
    --nav: #243b4f;
    font-size: 1rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c4c4c4;
    opacity: 1; /* Firefox */
}

[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 10px;
    background: #acacac;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);

}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: 20vh;
    object-fit: cover;
    display: block;
}

body,
h1,
h2,
h3,
h4,
p,
span {
    margin: 0;
    color: white;
}

body {
    background-color: var(--dark);
    font-family: 'Poppins', sans-serif;
}

.filter__container__section, .main__nav, .about__section,.description__page__container{
    /*width: 95%;*/
    display: flex;
    justify-content: space-around;
    /*border: 1px solid red;*/
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.website__section{
    /*width: 95%;*/
    display: flex;
    justify-content: space-around;
    /*border: 1px solid red;*/
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
}





.navbar__logo {
    color: white;
    font-size: x-large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar__input {
    border-radius: 32px;
    border-color: var(--dark);
    color: white;

}

.navbar__icon {
    padding-left: 10px;
    padding-top: 1px;
}

.navbar__container {
    display: grid;
    /*grid-template: 1fr / auto 1fr;*/
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    gap: 12px;

    /*border: 1px solid #CFD5DB;*/
    border-radius: 32px;
    background-color: #626262;
    padding: 6px;
    color: #acacac;
    cursor: text;
    overflow: hidden;


}

.navbar__container:focus-within {
    background-color: #5b5b5b;
}

.navbar__container > .navbar__input {
    outline: none;
    border: none;
    background: transparent;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #373737;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px 0 5px;
}

.dropdown__arrow {
    padding-left: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #545454;
}


.description__page__container {
    justify-content: space-between;
}

.description__page__container div {
    margin: 0 10px 0 10px;
}

.description__page__container__title {
    word-wrap: break-word;
    max-width: 70%;
}

.about__section {
    flex-direction: column;
    justify-content: start;
}

.about__section h2, span {
    /*margin-left: 10px;*/
}

.website__section h2, span{
    /*margin-left: 20px;*/
}

.card__container {
    padding: 10px 10px;
}

.card {
    overflow: hidden;
    /*padding: 5px 5px 5px 5px;*/
    background-color: #373737;
    border-radius: 10px;
    border: 5px solid var(--dark);

    flex-basis: calc(100% / 4); /*  */
    flex-shrink: 0; /* don't shrink, and don't wrap -> leave the container*/

    /*padding: 1em;*/
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.card h2{
    padding-left: 5px;
}

.card__image {
    width: 100%;
    /*border-radius: 10px 10px 0 0;*/
}

.card__rating__date {
    display: flex;
    justify-content: space-between;
    /*margin-top: 1rem;*/
    margin-top: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.card__rating__date span{
    color: #acacac;
    border-bottom: aqua solid 1px;
}

.carousel-item > img{
    border-radius: 20px;
}



.global__card__container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;

    /*column-gap: 10px;*/
}


.global__card__container .card:last-child {
    opacity: 0;
}

.global__main{
    /*width: 95%;*/
    /*margin: 0 auto;*/
}



@media screen and (min-width: 1127px) and (max-width: 7681px) {
    .card {
        flex-basis: calc((100% / 5) ) ;
    }
    .description__page__global__container{
        display: flex;
    }
    .description__page__container{
        flex-direction: column;
    }

    .carousel{
        max-width: 50vw;
    }

    .description__main__div{
        margin: 0 15vw 0 15vw;
        padding: 0 5vw 0 5vw;
        background-color: var(--dark);
        height: 100vh;
    }

    body{
        background-color: #100f0f;
    }


}

@media screen and (min-width: 967px) and (max-width: 1127px) {
    .card {
        flex-basis: calc((100% / 3) ) ;
    }
}

@media screen and (min-width: 400px) and (max-width: 967px) {
    .card {
        flex-basis: calc((100% / 2)) ;
    }
}

@media screen and (max-width: 400px) {
    .card {
        flex-basis: calc((100%)) ;
    }
}

@media screen and (max-width: 330px) {
    .main__nav {
        flex-direction: column;
    }
    .description__page__container__rating {
        display: none;
    }

    .description__page__container__title{
        max-width: 95%;
    }
}


