.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /*height: 200px;*/
    /*background-color: green;*/
    color: #fff;
}

.indicators {
    display: flex;
    justify-content: center;
}

.indicators > button {
    margin: 5px;
}

.indicators > button.active {
    background-color: darkgrey;
    /*color: deepskyblue;*/
    border: none;
    border-radius: 5px;
}

.indicators > button {
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 5px;
}

@media screen and (min-width: 1127px) and (max-width: 7681px) {
    .indicators > button {
        height: 17px;
        color: black;
    }
}